/* Import theme colors */
@colors@

/* Configure titlebar */
#titlebar {
    /* Add consistent margins to tab bar */
    padding: 0 2px !important;

    /* Add emphasized color to background of tab bar */
    background-color: var(--nix-color-bg-status) !important;

    /* Set correct text color */
    color: var(--nix-color-fg) !important;
}

.tab-background:is([selected], [multiselected]) {
    /* Set correct background color */
    background-color: var(--nix-color-bg) !important;
}

.tab-content {
    /* Set correct text color */
    color: var(--nix-color-fg) !important;
}

/* Configure navigation bar */
#nav-bar {
    /* Set correct background color */
    background-color: var(--nix-color-bg) !important;

    /* Set correct text color */
    color: var(--nix-color-fg) !important;
}

#urlbar {
    /* Set correct text color */
    color: var(--nix-color-fg) !important;
}

#urlbar[open]>#urlbar-background {
    /* Set correct background color when opened */
    background-color: var(--nix-color-bg) !important;

    /* Use same box-shadow as tabs when opened */
    border: none !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4) !important;
}

#urlbar[focused]:not([suppress-focus-border])>#urlbar-background {
    /* Set better outline for focused urlbar */
    outline-color: var(--nix-color-border-focused) !important;
    outline-width: 1px !important;
    outline-offset: 0 !important;
}

#urlbar-background {
    /* Set the correct background color */
    background-color: var(--nix-color-bg-status) !important;
}

/* Configure popups */
panelview {
    /* Set correct background color for popups */
    background-color: var(--nix-color-bg) !important;

    /* Set correct text color */
    color: var(--nix-color-fg) !important;
}

menupopup {
    /* Set correct background color for context menus */
    --panel-background: var(--nix-color-bg) !important;
}